body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Quicksand', sans-serif;
}

.row.row {
	margin: 0em;
	padding: 0em;
	width: 100%;
}

.column.column {
	padding: 0em;
}


/*********************landing page***************************/

.landing {
	background-image: url(https://raw.githubusercontent.com/yvonnendutaw/galafitness/gh-pages/img/landing.jpg);
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	z-index: 0;
	height: auto;
	background-attachment: fixed;
}

.menu {
	background-color: rgba(33, 21, 28, 0.6);
	width: 100%;
	position: fixed;
}

.menu li a {
	color: #fff;
	margin-top: 10%;
	font-weight: 900;
}

.menu li a:hover {
	color: pink;
}

.text {
	margin-right: 20%;
	margin-bottom: 15%;
	margin-top: 15%;
	color: deeppink;
	font-weight: 900;
	float: right;
	text-align: right;
}

.button {
	background-color: transparent;
	border: solid 2px #fff;
	width: 50%;
	margin-right: 3.5em;
}

.button:hover {
	color: white;
	background-color: #880e4f;
	border: solid 2px #880e4f;
}


/***********************about page*************************/

.about {
	background-color: deeppink;
	height: auto;
	color: black;
}

.borderline {
	margin-left: 50%;
	margin-right: 50%;
	border-left: solid 3px black;
	height: 8vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.text-box {
	padding: 3%;
}


/***********************ad page*************************/

.ad {
	background-image: url(https://raw.githubusercontent.com/yvonnendutaw/galafitness/gh-pages/img/pink.jpg);
	height: 100%;
	background-attachment: fixed;
}

.personal {
	background-color: yellow;
	margin-top: 18%;
}

.group {
	background-color: deeppink;
	margin-top: 18%;
}

.boxes {
	z-index: -2;
}

.ad h3 {
	text-align: center;
}


/***********************services page*************************/

.services {
	background-color: deepskyblue;
	height: auto;
	color: black;
}

.borderline {
	margin-left: 50%;
	margin-right: 50%;
	border-left: solid 3px black;
	height: 8vh;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.text-box {
	padding: 3%;
}


/***********************boxess*************************/

.boxess {
	height: 100vh;
	background-image: url(https://raw.githubusercontent.com/yvonnendutaw/galafitness/gh-pages/img/black.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.overlay{
	background-color: rgba(255, 20, 147, 0.29);
	height: 100%;
}

/***********************boxess*************************/

.contact {
<<<<<<< HEAD
	background-color: purple;
======
>>>>>>> galafitness/gh-pages
	background-attachment: fixed;
	height: auto;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-size: 0.875em;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	font-size: 0.875em;
}

input::placeholder,
textarea::placeholder {
	font-size: 0.875em;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
	font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {}


/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
	font-size: 0.875em;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
	font-size: 0.875em;
}

input:hover::placeholder,
textarea:hover::placeholder {
	font-size: 0.875em;
}

input:hover::placeholder,
textarea:hover::placeholder {
	font-size: 0.875em;
}

#form {
	width: 70%;
	margin: 50px auto 50px auto;
}

input {
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;
	width: 100%;
	height: 50px;
	padding: 0px 15px 0px 15px;
	background: transparent;
	outline: none;
	border: solid 1px #b3aca7;
	border-bottom: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	color: black;
}

input:hover {
	background: #b3aca7;
}

textarea {
	width: 100%;
	height: 110px;
	max-height: 110px;
	padding: 15px;
	background: transparent;
	outline: none;
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;
	border: solid 1px #b3aca7;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	color: black;
}

textarea:hover {
	background: #b3aca7;
}

#submit {
	width: 100%;
	padding: 0;
	margin: -5px 0px 0px 0px;
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;
	outline: none;
	cursor: pointer;
	border: solid 2px #b3aca7;
}

.contact ul li {
	list-style: none;
	display: inline-block;
}

.contact i {
	font-size: 30px;
}

.contact h3 {
	margin-top: 2%;
}


/***********************services page*************************/

.footer {
	background-color: #222222;
	height: auto;
	color: white;
}

i {
	color: red;
}

.boxxx {
/*	margin-top: -100%;*/
	background-color: yellow;
	height: 16.67%;
	margin-top: 5%;
}

.boxxx:hover {

	transition: 1s;
	background-color: purple;
	height: 16.67%;
	margin-top: 5%;
}
.boxx h5 {
	margin: 30% 0;
	font-weight: 900;
}


.content {
	padding: 5%;
}

.boxe {
	background-color: dodgerblue;
	height: 16.67%;
	margin-top: 5%;
}

.boxe:hover {
	transition: 1s;
	background-color: purple;
	height: 16.67%;
	margin-top: 5%;
}

.boxex {
	background-color: deeppink;
	height: 16.67%;
	margin-top: 5%;
}

.boxex:hover {
	transition: 1s;
	background-color: whitesmoke;
	height: 16.67%;
	margin-top: 5%;
}

.btn {
	width: 100%;
	background-color: #e91e63;
}

.btn:hover {
	background-color: #880e4f;
	color: white;
}

.boxe2 {
	background-color: white;
	height: 16.67%;
}
.boxe2:hover {
	transition: 1s;
	background-color: deeppink;
	height: 16.67%;
}

.boxex2 {
	background-color: yellow;
	height: 16.67%;
}
.boxex2:hover {
	transition: 1s;
	background-color: purple;
	height: 16.67%;
}
.boxex3 {
	background-color: purple;
	height: 16.67%;
}
.boxex3:hover {
	transition: 1s;
	background-color: whitesmoke;
	height: 16.67%;
}
section#contact {
    background-color: whitesmoke;
}
